#questionnaire > nav { display: none; }
#questionnaire > .nav-fixed { display: block; }

#message { display: none !important; }
#message.message-fixed { display: block !important; }

#whitespace { display: none !important; }


.simulator {
    margin: 0;
}

td.description {
    .header {
        padding: 15px 0;

        > span a {
            color: $teal;
            background-color: transparent;
        }
        .icon-info-sign { display: none; }

    }
}

.container > header > h1 {
    font-family: 'Signika', sans-serif;
    color: $blue;
}

.category,
#identification > fieldset > legend > span {
    font-family: 'Signika Negative', sans-serif;
    text-transform: none !important;
}

// font-family: 'Signika Negative', sans-serif;
// font-family: 'Signika', sans-serif;

// ===============================
// Theming Bootstrap Alert Message
// ===============================

.alert {
    border-radius: 0;
    border: 0;
    padding: 15px;
    margin: 0;
}

.alert-info {
    color: $white;
    background-color: $orange;
    text-align: center;
}

// .simulator td { border-bottom-color: $orange; }

.selected td {
    // ToDo: Hack to overwrite the light-blue.
    // Ideally we will delete the JS that does it.
    background-color: transparent !important;
}

.highlight { background-color: $white; }

#identification > fieldset:first-of-type > legend {
    background-color: $blue;
    color: $white;
}

#message {
    box-shadow: 0 3px 10px $gray-40;
    background-color: $blue;
}

.btn {

}

.btn-primary {
    background-image: none;
    background-color: $teal;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

// thead .highlight { display: none; }

th.category {
    background-color: $blue;
    padding: 10px 0;
    color: $white;
    border: 0;
    width: 100%;
    text-align: center;
}

td.description {
    padding: 0;
}

.simulator > tbody td.highlight {
    padding: 0 10px;
}
