$desktop: "min-width: 940px";
$mobile-only: "max-width: 400px";

@import 'colors.scss';
// @import 'form.scss';

// Fixing Mobile

.container {
    max-width: 940px;
    width: auto;
}

@media ($mobile-only) {


.simulator { margin: 0; }

.simulator .description > p:only-of-type {
    margin-top: 20px;
}

table,
thead,
tbody,
tr,
th,
td { display: block; }

thead .highlight { display: none; }

.container > header > h1,
#introduction,
th.category > *,
td.description > * {
    padding-left: 20px;
    padding-right: 20px;
}

td.description { padding: 0;}
td.description > fieldset { margin: 1em 0;}

th.category { text-align: center; }

.widget-slider { width: auto; }
.widget-onoff { margin: 0 auto; }
td.description .controls { margin-left: 0 !important; }

#identification {
    width: auto;

    .control-group {
        label {
            display: block;
            float: none;
            width: auto;
            margin: 0;
            text-align: left;
        }
    }
}

.description > p > img {
    display: block;
    float: none;
    margin: 10px 0;
    width: 100%;
    height: auto !important;
}

.form-horizontal {
    .control-group { margin: 10px 5%; }

    .controls { margin-left: 0; }
    .controls textarea.span6 { max-width: 380px; }
    .form-actions { padding-left: 0; }

    .controls input[type='email'],
    .controls input[type='text'],
    .controls textarea,
    .controls .radio.inline {
        width: 90%;
        padding: 5px 15px;
    }

    .form-actions {
        padding-left: 5%;
        padding-right: 5%;
    }
}

#identification > fieldset:first-of-type > legend { text-align: center; }
#identification > fieldset:first-of-type > legend > span { padding-left: 0; }

#identification .form-actions .btn {
    width: 100%;
    padding: 10px 0;
}

#identification .formError {
    left: 5% !important;
}

// Temp Dev
// #questionnaire > nav,
#message {
    // display: none !important;
}

#questionnaire > .nav-fixed > .nav.nav-pills > .dropdown { display: none; }
#questionnaire .nav-tabs > li, .nav-pills > li { float: none; }

#simulator {
    .inner {
        padding: 0 !important;
        text-align: center;
    }
    .chart-container { margin-left: 90px;}
}



} // Closing Media Query Mobile Only
