@media (min-width: 1200px) {
.container { width: 940px; } // Setting the width back to 940px
}

@media (max-width: 769px) {
    body {
        padding: 0;
    }

    .container {
        margin: 0;

        > header > h1 {
            margin-top: 0;
            background-position: center 0;

            p {
                text-align: center;
                padding-top: 20px;
            }
        }

        form * {
            box-sizing: border-box;
        }
    }

    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: auto;
    }

    #facebook,
    #twitter {
        display: none;
    }

    #introduction {
        padding-left: 20px;
        padding-right: 20px;

        * {
            max-width: 100% !important;
        }

        li {
            line-height: 1.5;
        }

        .custom-chart {
            display: block;
            width: 100%;
        }

        #arrow {
            display: none;
        }

        iframe {
            width: 100%;
        }
    }

    h3 {
        line-height: 1.5;
        margin-bottom: 30px;
        margin-top: 50px;
        text-align: center;
    }

    th.category {
        text-align: center;
    }

    td.description .header {
        margin: 20px 0;
        font-size: 22px;
        line-height: 1.3;
        text-align: center;

        .icon-info-sign {
            display: none
        }

        .popover-toggle {
            display: block;
        }
    }

    .simulator,
    .simulator > thead,
    .simulator > tbody,
    .simulator tr,
    .simulator img,
    .simulator td { display: block; }

    .simulator > thead .highlight {
        display: none;
    }

    .simulator td,
    .simulator th,
    .simulator .impact-text > td {
        padding: 10px 20px;
    }

    .description {
        overflow: hidden;
    }

    tbody .highlight .widget {
        width: 90% !important;
        margin: 0 auto !important;

        .tick.highest {
            width: 100% !important;
        }
        .tip {
            width: 35px;
            padding: 3px 0;
            font-size: 9px;
            top: -28px;
            left: -10px;
        }
    }

    tbody .highlight {
        padding: 30px;
    }

    .control-group {
        label {
            font-size: 20px;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        .inline-hints {
            margin-top: 10px;
        }

        .controls {
            margin-left: 0 !important;
            margin-right: 0 !important;

            input[type='text'],
            input[type='email'],
            input[type='password'] {
                width: 100%;
                padding: 0 20px;
                height: 60px;
                font-size: 20px;
                line-height: 1.5;
            }

            select {
                width: 100% !important;
                height: 60px;
                padding: 0 20px;
                margin: 0;
                font-size: 20px;
                line-height: 1.5;
            }

            label {
                width: 100%;
                padding: 0 0 20px 40px;
                margin: 0 !important;
            }

            input[type='checkbox'], input[type='radio'] {
                width: 20px;
                height: 20px;
                margin: 5px 0 0 -40px;
                transform: scale(2);
            }

            textarea {
                width: 100%;
                padding: 20px;
                font-size: 20px;
            }
        }
    }

    .tip {
        transform: scale(2.2);
    }

    .form-horizontal {
        .form-actions {
            padding-left: 20px;
            text-align: center;
            border-top-width: 0;

            .btn {
                font-size: 32px;
                padding: 20px;
            }
        }

        .control-label {
            float: none;
            width: auto;
            text-align: left;
        }
    }

    .simulator input[type='text'] {
        font-size: 32px;
        padding: 20px;
        line-height: 1.4;
        margin: 20px 0;
        width: 90%;
    }

    .alert.alert-infos {
        width: 100%;
        padding: 20px;
    }

    td.description img {
        float: none;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #identification {
        padding: 0 20px;

        fieldset legend span {
            font-size: 36px;
            display: inline-block;
            padding: 0 30px;
            width: 100%;
            text-align: center;
        }
    }

    #assessment {
        > label {
            display: block;
        }

        > input {
            width: 200px;
            height: 40px;
            margin: 20px auto;
            padding: 0px 20px;
            font-size: 20px;
            line-height: 1.5;
            color: #444;
        }
    }

    #questionnaire {
        nav {
            width: auto;
            max-width: 100%;
        }

        .nav-fixed {
            .dropdown-menu {
                li a {
                    padding: 10px;
                }
            }

            .message-fixed {
                max-width: 100vw;
            }
        }

        .message-fixed {
            top: 50px;
        }
    }

    #logo img { width: 100%; }

    #summary-table {
        table { width: 100%; }
        tr { display: table-row;}
        th { font-size: 14px; }
        td {
            display: table-cell;
            padding: 5px;
        }

        th:not(:first-child),
        td:not(:first-child) { text-align: right; }
    }

    .impact-text {
        font-weight: bold;
        text-align: center;
        font-size: 16px;
    }
}
